@{
    ViewBag.Title = "Sobre";
}
<div class="jumbotron text-center">
    
    @*<h2 class="text-center">@ViewBag.Title:</h2>*@
    <img src="~/Images/teste.png" />
    <p></p>
    @*<h3>@ViewBag.Message</h3>*@

    <p><strong> Desenvolvido por:</strong> João Paulo de Castro Lima</p>
    <p><strong> Supervisão:</strong> Allbert Viana</p>
    <hr />
    <p><strong> Arduino:</strong> Anderson Felipe Vieira</p>
    <p><strong> Supervisão:</strong> Pedro Gonçalves</p>
</div>
