@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "TESTE";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        FATEC Prof. João Mod<br />
        Guaratinguetá - SP<br />
        <abbr title="Phone">Telefone:</abbr>
        3126-2643
    </address>

    <address>
        <a href="http://www.fatecguaratingueta.edu.br/">FATEC Guaratinguetá</a><br />
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>
</div>